<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Dajngo CRM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search" method="GET" action={% url 'search_record' %}>
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ query|default:'' }}" >
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        {% if user.is_authenticated %}
        <button class="btn btn-outline-success"> <a class="nav-link" href="{% url 'logout' %}">Logout</a> </button>
        <button class="btn btn-outline-success"> <a class="nav-link" href="{% url 'add_record' %}">Add Record</a> </button>
        {% else %}
        <button class="btn btn-outline-success"> <a class="nav-link" href="{% url 'register' %}">Register</a> </button>
        <button class="btn btn-outline-success"> <a class="nav-link" href="{% url 'home' %}">Login</a> </button>
        {% endif %}
      </div>
    </div>
  </nav>